<component name="libraryTable">
  <library name="spring-aop-5.2.0.RELEASE">
    <CLASSES>
      <root url="jar://$USER_HOME$/Downloads/jar_files (3)/spring-aop-5.2.0.RELEASE.jar!/" />
      <root url="jar://$USER_HOME$/Downloads/jar_files (3)/spring-beans-5.2.0.RELEASE.jar!/" />
      <root url="jar://$USER_HOME$/Downloads/jar_files (3)/spring-context-5.2.0.RELEASE.jar!/" />
      <root url="jar://$USER_HOME$/Downloads/jar_files (3)/spring-core-5.2.0.RELEASE.jar!/" />
      <root url="jar://$USER_HOME$/Downloads/jar_files (3)/spring-expression-5.2.0.RELEASE.jar!/" />
      <root url="jar://$USER_HOME$/Downloads/jar_files (3)/spring-jcl-5.2.0.RELEASE.jar!/" />
      <root url="jar://$USER_HOME$/Downloads/jar_files (3)/spring-security-core-5.2.0.RELEASE.jar!/" />
      <root url="jar://$USER_HOME$/Downloads/jar_files (3)/spring-security-web-5.2.0.RELEASE.jar!/" />
      <root url="jar://$USER_HOME$/Downloads/jar_files (3)/spring-web-5.2.0.RELEASE.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>